{% extends 'blog/base.html' %}
{% block body %} 
<div class="jumbotron">
    <h2 class="display-4">Secrets For You</h2>
    <p class="text-dark">We are the guys who take care of your needs in the sector of entertainment, study, information, social news, and more amazing topics</p>
    <hr class="my-4">
    <p>We Update our blog regularly and update you with the latest amazing articles with amazing information. In this Blog You can read the articles related to Django, Python, Games, Programming, Networking, Creative Ideas, Career And More...</p>
    <h4>So Stay Tuned With Us...</h4>
  </div>
  {% endblock body %}